# Pytorch + Pytorch-Lightning
# Adapt the cuda versions for torch and torchvision to your needs
torch>=2.0.0
torchvision>=0.14.1
torchmetrics==1.2.0
lightning==2.0.9
tensorboard>=2.12.0
pycocotools>=2.0.7

# Hydra
hydra-core>=1.3.2
hydra-colorlog>=1.2.0
omegaconf>=2.3.0

# Packages for data handling, augmentation and visualization
numpy>=1.23.2
scipy>=1.9.0
opencv-python>=4.6.0.66
albumentations>=1.3.0
pillow>=9.2.0
matplotlib>=3.5.3
patchly
acvl-utils

# Madgrad optimizer
madgrad==1.2
# Maxvit Models & loss functions
timm
segmentation-models-pytorch

# Code Formatter
black>=22.12.0
