torch>=1.10.0+cu113
numpy>=1.21.3
omegaconf>=2.1.1
torchmetrics>=0.5.1
opencv-python>=4.5.4.58
argparse>=1.4.0
tqdm>=4.62.3
scipy>=1.7.2
pillow>=8.4.0
torchvision>=0.11.1+cu113
albumentations>=1.1.0
hydra-colorlog>=1.1.0
hydra-core>=1.1.1