# Pytorch + Pytorch - Lightning
# Adapt the cuda versions for torch and torchvision to your needs
--find-links https://download.pytorch.org/whl/cu113/torch_stable.html
torch>=1.12.1+cu113
torchvision>=0.13.1+cu113
torchmetrics>=0.9.3
pytorch-lightning>=1.7.1

# Madgrad optimizer
madgrad>=1.2

# Hydra
hydra-core>=1.2.0
hydra-colorlog>=1.2.0
omegaconf>=2.2.0

# Packages for data handling, augmentation and visualization
numpy>=1.23.2
opencv-python>=4.6.0.66
albumentations>=1.2.1
pillow>=9.2.0
matplotlib>=3.5.3

# Code Formatter
black>=22.6.0

# Needed for loading .mat files for processing VOC2010_Context Dataset
scipy>=1.9.0